<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="https://github.com/furlongm/patchman">Patchman</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="primaryNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if '/dashboard' in request.path %}active{% endif %}" href="{% url 'util:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/hosts' in request.path %}active{% endif %}" href="{% url 'hosts:host_list' %}">Hosts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/repos' in request.path %}active{% endif %}" href="{% url 'repos:repo_list' %}">Repositories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/packages' in request.path %}active{% endif %}" href="{% url 'packages:package_name_list' %}">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/errata' in request.path %}active{% endif %}" href="{% url 'errata:erratum_list' %}">Errata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/cves' in request.path %}active{% endif %}" href="{% url 'security:cve_list' %}">CVEs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/os' in request.path %}active{% endif %}" href="{% url 'operatingsystems:osrelease_list' %}">Operating Systems</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/reports' in request.path %}active{% endif %}" href="{% url 'reports:report_list' %}">Reports</a>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a>
          </li>
        {% endif %}
      </ul>
      <div class="navbar-text text-light">
        {% if user.is_authenticated %}
          {% if user.first_name %}
            Welcome, {{ user.first_name }}
          {% else %}
            Welcome, {{ user }}
          {% endif %}
          / <a class="link-light" href="{% url 'logout' %}">Log out</a>
        {% else %}
          Welcome, Guest / <a class="link-light" href="{% url 'login' %}">Log In</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
