<div class="mb-3">
  <form method="get" class="search-form">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="Search" name="search" id="search" value="{{ terms }}">
      {% for key, value in querydict.items %}
        <input type="hidden" id="{{ key }}" name="{{ key }}" value="{{ value }}">
      {% endfor %}
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</div>
<script type="text/javascript">document.getElementById("search").focus();</script>
